<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>listadoNoticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card *ngFor="let item of noticias" >
        <ion-card-header>
          <ion-card-subtitle>{{item.titulo}}</ion-card-subtitle>
          <ion-card-title>{{item.descripcion}}</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          {{item.contenido}}
          <p> <strong>Autor:</strong> {{item.autorId}}</p>
          <p> <strong>Fecha:</strong> {{item.fecha}}</p>
        </ion-card-content>
      </ion-card>
      
</ion-content>
